roi: 
 - 128
 - 128
patch_size: 
 - 512
 - 512

# Positive sampling config
pos_dis: 30
pos_rad: 200
pos_sc: 2.

# Negative sampling config 
neg_dis: 20
neg_sampling_grid: 5

# Ensemble config
confidence: 0.8
post_act: False
stable_weight: 2.
decay: 0.15

# Thresholding Config
gamma: 1.2
beta: 0.65
d_alpha: 0.1
alpha: 0.25

# Traits config
thresh: 0.95
fill_kernel_size: 5
min_length: 100 
sampling_dis: 300 
back_off: 8
patience: 3
root_area: 800
topk: 2
label_bins: []