defaults:
  - _self_
  - config: default

predictor:
  _target_: src.zero_shot.sam.SamInferer
  cfg: E:/river_seg/venv/lib/site-packages/sam2/configs/sam2.1/sam2.1_hiera_s.yaml
  ckpt: ../checkpoints/sam2.1_hiera_s.pt
  _partial_: True

# Inference config