_target_: src.zero_shot.sam.SamInferer
cfg: E:/river_seg/venv/lib/site-packages/sam2/configs/sam2.1/sam2.1_hiera_s.yaml
ckpt: ../checkpoints/sam2.1_hiera_s.pt
# Inference config
roi: 
 - 128
 - 128
patch_size: 
 - 512
 - 512

# Positive sampling config
pos_dis: 30
pos_rad: 200
pos_sc: 2.

# Negative sampling config 
neg_dis: 20
neg_sampling_grid: 6

# Ensemble config
confidence: 0.8
post_act: False
stable_weight: 2.
decay: 0.5

# Thresholding Config
gamma: 2.
beta: 0.5
d_alpha: 0.1
alpha: 0.15

# Traits config
thresh: 0.95
fill_kernel_size: 5
min_length: 100 
sampling_dis: 300 
back_off: 15
patience: 3
root_area: 800
topk: 2
